header{
 width:100%;
 height: 50px;
 background-color:#f1c40f;
 margin:0 auto;
}

.logo a span{
 font-size:1.3em;
 font-color: white;
}


.logo {
 float: left;
 margin-top:10px;
 margin-left:4px;
}

.nav{
 float: right;
}

.menu{
    margin-top: 10px;
  display:block;
}

.menu li{
display: inline-block;
position: relative;
z-index:100;
margin-right: 95px;
}

.menu li a {
  text-decoration: none;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    
}

th {
    text-align: middle;
    background-color: #f1c40f;
    color:black;
}

td {
     text-align:center; 
    vertical-align:middle;
}

tr:hover{background-color:#f1c40f}